@tailwind base;
@tailwind components;
@tailwind utilities;

.no-scrollbar {
    overflow: clip; /* Hide scrollbars */
}
.no-scrollbar-margin{
    margin-right: 17px;
}
  
input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
  -webkit-appearance: none;
  margin: 0;
}

/* Firefox */
input[type=number] {
  -moz-appearance: textfield;
} 